[init]
  defaultBranch = main
[push]
  default = current
[color]
  ui = auto
[alias]
  aa = add --all
  ap = add --patch
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  ci = commit -v
  co = checkout
  pf = push --force-with-lease
  st = status
[core]
  autocrlf = input
  excludesFile = ~/.gitignore
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detect
  side-by-side = true
  line-numbers = true
[merge]
  ff = only
  conflictStyle = zdiff3
[commit]
  template = ~/.gitmessage
[fetch]
  prune = true
[rebase]
  autosquash = true
[diff]
  colorMoved = zebra
[user]
  name = Steve Polito
  email = stevepolito@hey.com
